.taskCard-content {
    text-align: center;
}
.taskCard {
    flex-basis: 80%;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.tasks-section-content {
text-align: center;
padding: 10px;
}
.newTaskBtn {
    width: 15%;
}
.taskButtons {
    width: 20%;
    /* margin: auto; */

    margin: 10px;
}
