/* would be nice to have timestamp in small gray font */

.timestamp {
    font-size: 10px;
    color: grey;
}

.messageForm {
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 2;
    border: 1px lightgrey solid;
    background-color: white;
}

.messageList {
    margin-top: 124px;
    width: 100%;
    z-index: 1;
    text-align: right;
}

.userName:hover {
    color: blue;
}

button {
    width: 80px;
}
.messagesCard {
    flex-basis: 30%;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px lightgray;
    width: 40%;
}
.messageButton {
    margin-bottom: 10px;
    width: 20%;
}
.messagesCard {
    text-align: center;
}
.msgButtonContainer {
    text-align: center;
}
.messageList {
    margin-top: 17%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    justify-content: right;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    /* border: 2px solid lightgrey; */
    /* box-shadow: 2px 2px 2px 2px lightgray; */

}
#newMessageForm {
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 2;
    border: 1px lightgrey solid;
    background-color: white;
    padding: 20px;
    box-shadow: 4px 4px 4px 4px lightgray;
}
.messageFormButton {
    margin-top: 10px;
}

.align-right-msg {
margin-left: 58%; 
}

